<div class="center-align">
	<h1>{{name_parent_page}}</h1>
</div>
<div class="for_button">
	<button (click)="change(true)">+</button>
	<button (click)="change(false)">-</button>
</div>
<div>Выбранное имя: {{userNameTest}}</div>
<input [ngModel]="userNameTest" (ngModelChange)="onNameTestChange($event)" />
<ul *ngIf="brews">
  <li *ngFor="let brew of brews">
    <p class="name">{{ brew.name }}</p>
    <p class="country">{{ brew.country }}</p>
    <a class="site" href="{{ brew.website_url }}">site</a>
  </li>
</ul>