<div id="menu">
    <span (click)="HideShowClick()">this</span>
    <div><a href="1.html">Все байки</a></div>
    <div><a href="2.html">Байки по автору</a></div>
    <div><a href="3.html">Байки по теме</a></div>
    <div><a href="4.html">Популярные разделы</a></div>
    <div><a href="text.html">Последние байки</a></div>
</div>
<content>
    <h1>Welcome!</h1>
    <span app-list="hide=false">show</span>
    <!--
        <div class="play-container" [style.background-color]="clickCounter > 4 ? 'yellow' : 'lightgray'"> 

    	<div class="play-container" [ngStyle]="{
    		'background-color': clickCounter > 4 ? 'yellow' : 'lightgray',
    		'border':           clickCounter > 4 ? '4px solid black' : 'none'}
    		">

    	<div class="play-container" [class.active]="clickCounter > 4">
    -->
    <div class="play-container" [ngClass]="setClasses()">
        <p>You've clicked <span (click)="countClick()">this</span> {{ clickCounter }} times.</p>
         <p>
            <input type="text" [(ngModel)]="name"> <br>
            <strong>You said: </strong>{{ name }} <br>

            <strong> Change </strong> {{ name_child_pages }} <br>
            <input type="text" [(ngModel)]="name_child_pages"/> <br>

            <strong> Change </strong> {{ nameTest }} <br>
            <input type="text" [(ngModel)]="nameTest"/>
        </p>

        <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
            <p>The click counter <strong>IS GREATER</strong> than 4.</p>
        </ng-template>

        <ng-template #none>
            <p>The click counter is <strong>not greater</strong> than 4.</p>
        </ng-template>

    </div>
    <div>Выбранное имя: {{nameTest}}</div>
    <ng-template [ngIf]="HideShow == 1">
        <app-list [name_parent_page]="name_child_pages" (onChangedTest)="onChanged($event)" [(userNameTest)]="nameTest"></app-list>
    </ng-template>
</content>