h1{
	color: red;
}

span {
    font-weight: bold;
    background: green;
    padding: .3em .8em;
    cursor: pointer;
}

.play-container {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;
}

.play-container > input {
        padding: 1em;
        margin-bottom: 2em;
}

.active {
    background-color: yellow;
    border: 4px solid black;
}

.notactive{
	background-color: pink;
    border: 4px solid black;
}

content {
    background-color: #EEE8AA;
    float: right;
    width: 83%;
}

#menu {
    float: left; /* Обтекание справа */
    width: 15%;
    border: 2px solid #333; /* Параметры рамки вокруг */
    padding: 5px; /* Поля вокруг текста */
    /*Up Right Down Left */
    margin: 0px 0px 0px 0px; /* Значения отступов */
    background-color: pink;

}
#menu div {
    padding: 2px; /* Поля вокруг ссылок */
}
#menu a { 
    display: block; /* Отображать ссылку как блок */
    padding: 2px; /* Поля вокруг ссылок */
    margin: 1px; /* Отступы вокруг */
    font-size: 0.9em; /* Размер текста */
    text-decoration: none; /* Убираем подчеркивание текста */
}